@charset "UTF-8";
/* CSS Document */
/* fonts */

@font-face {
	font-family: 'ElseNPLLight';
	src: url('../fonts/ElseNPL-Light.eot'); /* IE9 Compat Modes */
	src: url('../fonts/ElseNPL-Light.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/ElseNPL-Light.woff') format('woff'),
	     url('../fonts/ElseNPL-Light.ttf')  format('truetype');
}

@font-face {
	font-family: 'HelveticaNeueLight';
	src: url('../fonts/HelveticaNeueLTPro-Lt.eot'); /* IE9 Compat Modes */
	src: url('../fonts/HelveticaNeueLTPro-Lt.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/HelveticaNeueLTPro-Lt.woff') format('woff'),
	     url('../fonts/HelveticaNeueLTPro-Lt.ttf')  format('truetype');
}

@font-face {
	font-family: 'HelveticaNeueThin';
	src: url('../fonts/HelveticaNeueLTPro-Th.eot'); /* IE9 Compat Modes */
	src: url('../fonts/HelveticaNeueLTPro-Th.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/HelveticaNeueLTPro-Th.woff') format('woff'),
	     url('../fonts/HelveticaNeueLTPro-Th.ttf')  format('truetype');
}

@font-face {
	font-family: 'HelveticaNeueMed';
	src: url('../fonts/HelveticaNeueLTPro-Md.eot'); /* IE9 Compat Modes */
	src: url('../fonts/HelveticaNeueLTPro-Md.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/HelveticaNeueLTPro-Md.woff') format('woff'),
	     url('../fonts/HelveticaNeueLTPro-Md.ttf')  format('truetype');
}

@font-face {
	font-family: 'HelveticaNeueBold';
	src: url('../fonts/HelveticaNeueLTPro-Bd.eot'); /* IE9 Compat Modes */
	src: url('../fonts/HelveticaNeueLTPro-Bd.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/HelveticaNeueLTPro-Bd.woff') format('woff'),
	     url('../fonts/HelveticaNeueLTPro-Bd.ttf')  format('truetype');
}




