@charset "UTF-8";
/* CSS Document */

.onButton {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*background: #bb4a00;*/
	background:#0F0;
	
	background: -webkit-linear-gradient(#bb4a00, #fb6400) center top;
	background: linear-gradient(#bb4a00, #fb6400) center top;
	box-shadow: 0px 3px 3px #999;
}
.offButton {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #f99c36;
	background: -webkit-linear-gradient(#f99c36, #ea6601) center top;
	background: linear-gradient(#f99c36, #ea6601) center top;
	box-shadow: 0px 3px 3px #999;

}

